.card {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 300px;
	width: 400px;
	min-width: 250px;
	padding: 1.5rem;
	border-radius: 16px;
	background: #fff;
	box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.377);
	transition: 0.2s;

	/* animation */
	&:hover {
		transform: translateY(-1rem);
	}

	/* apenas aplica o translateX para os elementos depois do card com o hover */
	&:hover ~ .card {
		transform: translateX(130px);
	}

	&:not(:first-child) {
		margin-left: -130px;
	}
}

/* apenas color: linear-gradient não irá funcionar, gambiarra para funcionar abaixo */
.card-header h2:hover {
	background: linear-gradient(90deg, #ff8a00, #e52e71);
	text-shadow: none;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
}

h2 {
	text-transform: capitalize;
}